body{
    background-color: #eee;
    font-family: sans-serif;
}

.container{
    position: relative;
    margin: 100 auto;
    width: 315px;
    height: auto;
    padding: 10px; /* espaço interno */
    background: white; /* cor de fundo do box */
    border: 3px solid #d0d0d0; /* borda do box */
    box-shadow: 4px 4px 4px #909090; /* faz o box */
}

.top{
    position: relative;
    width: 97%;
    height: 48px;
    padding: 6px;
    background: #8a55d3;
}

.body{
    margin-top: 3px;
    width: 95%;
    height: auto;
    padding: 9px;
    background: #dedede;
} /* parte dos botões */

.campo{
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0.5;
    color: #800080;
    font-size: 20px;
    text-align: right;
} /* conteudo do visor */

.btn{
    margin-top: 4px;
    width: 56px;
    height: 50px;
    background: #ba55d3;
    color: white;
    border: none;
    font-size: 20px;
} /* define tamanho dos botoes */

.btn:hover{
    cursos: pointer;
    background: #8b00b8; /* muda de cor quando passa o mouse */
}

.zero{
    width: 116px;
} /* define tamanho do botao zero */

.igual{
    position: absolute;
    height: 107px;
} /* define tamanho do botao igual */

#op{
    position: absolute;
    z-index: 50;
    margin: 15px 10px;
    font-weight: bold;
    color: #800080;
}